.banner {
    width: 100%;
    height: 800px;
}
.bannerImg {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 2160px;
    transform: translateX(-50%);
    img {
        // position: absolute;
        // height: 100%;
        // width: 100%;
      
        // top: 0;
        // left: 50%;
       
    }
}